<p>You're logged in!</p>
<h3>All current albums:</h3>
<div *ngIf="loading" class="loader"></div>
<ul *ngIf="loading!=true">
    <li *ngFor="let album of albumList">
        <a (click)="drilldown(album.albumName)" class="text-primary">{{album.albumName}}</a>
        - <a (click)="deleteAlbum(album.albumName)" class="text-danger">Delete</a>
    </li>
</ul>
<br>
<h3>Create a new album:</h3>
<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="albumName">Album Name</label>
        <input type="text" formControlName="albumName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.albumName.errors }" />
        <div *ngIf="submitted && f.albumName.errors" class="invalid-feedback">
            <div *ngIf="f.albumName.errors.required">Album name is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
    </div>
</form>