<div *ngIf="loading" class="loader"></div>
<div *ngIf="loading!=true">
<br>
<br>
<h3>Your Groups:</h3>
<li *ngFor="let groupmember of activeGroupmemberList">
    <a (click)="drilldown(groupmember.groupName)" class="text-primary">{{groupmember.groupName}}</a> - 
        <a (click)="leaveGroup(groupmember.groupName)" class="text-danger">Leave</a>
</li>
<li *ngIf="activeGroupmemberList.length==0">You're not part of any groups.</li>
<br>
<h3>Pending invites:</h3>
<li *ngFor="let groupmember of pendingGroupmemberList">
    {{groupmember.groupName}} - 
        <a (click)="joinGroup(groupmember.groupName)" class="text-primary">Accept</a> - 
        <a (click)="declineGroup(groupmember.groupName)" class="text-danger">Decline</a>
</li>
<li *ngIf="pendingGroupmemberList.length==0">There are no pending group invitations.</li>
</div>
<br>
