<div *ngIf="loading" class="loader"></div>
<div *ngIf="loading!=true">
<br>
<br>
<h4 *ngIf="activeGroupmemberList.length>0">Your Groups:</h4>
<li *ngFor="let groupmember of activeGroupmemberList">
    <a (click)="drilldown(groupmember.groupName)" class="text-primary">{{groupmember.groupName}}</a> - 
        <a (click)="leaveGroup(groupmember.groupName)" class="text-danger">Leave</a>
</li>
<br>
<h4 *ngIf="pendingGroupmemberList.length>0">Pending invites:</h4>
<li *ngFor="let groupmember of pendingGroupmemberList">
    {{groupmember.groupName}} - 
        <a (click)="joinGroup(groupmember.groupName)" class="text-primary">Accept</a> - 
        <a (click)="declineGroup(groupmember.groupName)" class="text-danger">Decline</a>
</li>
</div>
<br>
