/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
    background-color: #e9ecef;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

